<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Hands a downloaded update to the system installer (see ApkInstaller). Not in Play builds,
         which use src/noSelfUpdate/AndroidManifest.xml instead (see build.gradle.kts). -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.updates"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/karalo_update_paths" />
        </provider>
    </application>
</manifest>
