<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <!-- Lets PackageManager.resolveActivity() reliably detect the system speech-recognition
         activity used for voice search (see VoiceSearchManagerImpl) under Android 11+ package
         visibility rules. No RECORD_AUDIO permission is needed here since that activity, not
         this app, owns microphone access. -->
    <queries>
        <intent>
            <action android:name="android.speech.action.RECOGNIZE_SPEECH" />
        </intent>
    </queries>

    <application
        android:name=".KaraloApplication"
        android:allowBackup="false"
        android:banner="@drawable/ic_banner"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/Theme.Karalo">
        <!-- Karalo doesn't use Firebase Analytics. This keeps it off even if a library pulls it in. -->
        <meta-data
            android:name="firebase_analytics_collection_deactivated"
            android:value="true" />


        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.Karalo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
